.container {
  padding: 4rem 1rem;
  height: 100vh;
  min-width: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  grid-row-gap: 1.5rem;
}

.iconContainer {
  display: grid;
  place-items: flex-start;
  margin: 0 0.5rem;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: var(--neutral-gray-200) !important;
}

.selected {
  color: var(--primary-mint-base) !important;
}

.welcome {
  color: var(--neutral-gray-200);
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 1168px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: flex-start center;
    grid-row-gap: 1.5rem;
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    grid-row-gap: 1.5rem;
    background-color: var(--primary-blue-10);
    margin-left: 0;
    min-width: 80px;
  }
  .notVisible {
    display: none;
  }

  .floatingIcon {
    position: fixed;
    background-color: var(--background);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 20;
  }
}
