.iconButton {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-mint-base);
    background-color: transparent;
    border: 1px solid var(--primary-mint-base);
    border-radius: 50%;
    cursor: pointer;
}

.disabled {
    opacity: 0.4;
}
