.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--neutral-light-gray-300);
}

.fullWidth {
  width: 100%;
}
