.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
  margin: 1.5rem 0;
}

.replying {
  margin-top: 0.25rem;
  color: var(--neutral-gray-300);
  cursor: pointer;
  font-style: italic;
}
