.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.container p {
  font-size: 13px;
  line-height: 100%;
  color: var(--neutral-gray-500);
}

.iconContainer {
  display: flex;
  align-items: center;
  color: var(--neutral-gray-400);
}

.rootPath {
  color: var(--accent-purple-base) !important;
}
