.container {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 1.5rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 588px 1fr;
  grid-template-rows: 1fr;
  place-items: flex-start center;
  grid-column-gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--max-width);
    grid-column-gap: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: var(--max-width);
    grid-template-columns: 1fr;
  }
}
